//- Formular to create/update a custom object in hubspot and its fields name, genre, author, score

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 #{title}
        form(action="/update-cobj" method="post")
            label(for="name") Name
            input(type="text" name="name" id="name" required)
            label(for="genre") Genre
            input(type="text" name="genre" id="genre" required)
            label(for="author") Author
            input(type="text" name="author" id="author" required)
            label(for="score") Score
            input(type="number" name="score" id="score" required)
            button(type="submit") Submit